P {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; LINE-HEIGHT: 14px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
H5 {
	FONT-WEIGHT: normal; FONT-SIZE: 18px; LINE-HEIGHT: 18px; FONT-STYLE: normal; FONT-FAMILY: "Comic Sans MS"; TEXT-DECORATION: none
}
TT {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; TEXT-TRANSFORM: none; LINE-HEIGHT: 16px; FONT-STYLE: normal; FONT-FAMILY: "Comic Sans MS"; TEXT-DECORATION: none
}
B {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; LINE-HEIGHT: 14pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
DD {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; LINE-HEIGHT: 14px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
LI {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; LINE-HEIGHT: 14px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
